.logo> img{
    margin-top: -10px;
    margin-left: 40 px;
}
.has-search .form-control {
    padding-left: 2.375rem;
}
.form-input{
    border: 2px solid #002f34;
}
.form-input:focus{
    border: 2px solid #58eae2;
    box-shadow: none;
}
.nav-item{
    margin-left: 100px;
}
.find-c{
    width: 95vh;
    margin-top: 100px;
}
.login-link{
    color: #002f34!important;
    font-weight: 700;
    text-decoration: 2px #002f34 underline !important;
    margin-left: 425px;
    margin-right: 75px;
    margin-top: -20px;
}
.login-link:hover{
    text-decoration: none !important;
}
.sell-btn{
    padding: 0.5rem 2rem;
    margin-left: 60px;
    margin-top: -10px; 
 }
.sell {
    border: 5px #ffa500 solid;
    color: #002f34;
    text-align: center;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0px 3px 5px #a9a9a9;
  }
.sell-btn:hover{
    background: #f3c672;
    color: #fff;
}
.custom-navbar{
    height: 8vh;
    background-color: #fff !important;
}
.link{
    color: #002f34 !important;
}
a.link:hover{
    color: gray!important;
}
.card{
    height: 100% !important;
    min-width: 15rem;
    cursor: pointer;
}
.categ{
    width: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    border: none;
    background: none;
    color:black;
}
.categ:hover{
    color: white;
}
.categ-text{
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    text-align: center;
}
.categ img{
    max-width: 100px;
    max-height: 100px;
}
.card-container{
    padding: 10px;
}
.card-img{
    width: 100%;
    height: 30vh;
    margin: 0 auto;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.card-img> img{
    height: 27vh;
    width: auto;
    vertical-align: middle;
    margin: 10px auto;
}
.card-text{
    text-overflow: ellipsis;
}
.bottom-card{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
#catg{
    width: 100%;
    min-height: 100vh;
    margin-top: 80px;
    margin-bottom: -400px;
}
.catg-heading{
    margin: 50px auto;
}
.catg-heading>h3{
    font-size: 30px;
}
#fresh-recommendations{
    width: 100%;
    min-height: 100vh;
    margin-top: 50px;
    margin-bottom: -100px;
}
.recommendation-heading>h3{
    font-size: 30px;
    margin-bottom: 75px;
}
.footer-container{
    display: flex !important;
}
.load-more-container{
    display: none;
}
.display-block{
    display: flex;
}
.load-more-btn{
    border: 3px solid rgb(0, 0, 37);
    font-weight: 500;
}
.load-more-btn:hover{
    border: 5px solid rgb(0, 0, 37);
}
#footer-nav{
    background: #ebeeef;
}
.footer-navbar-container{
    width: 100%;
}
.footer-navbar>.navbar-nav{
    margin: 30px;
    line-height: 1vh;
}
.footer-nav-col-heading{
    color: rgb(0, 0, 37);
    font-size: 15px;
    font-weight: 500;
    white-space: nowrap;
}
.footer-navbar> ul> li> a{
    font-size: 12px;
    color: gray;
    font-weight: 500;
}
.footer-navbar> ul> li> a:hover{
    color: rgb(0, 0, 37);
}
footer{
    background: #002f34;
    color: #fff;
    font-size: 13px;
    padding: 10px;
}
